# macOs specific 
.DS_Store
**/.DS_Store
*.icloud

# zip files
*.zip

# Python files
*/__pycache__/*.pyc
**/__pycache__/*.pyc

# data
data/*
Beta-VAE/data/*
SCAN/data/*
SCAN/vocab/*
Dis/checkpoints_dis/*
Beta-VAE/outputs/*
SCAN/runs/*
Beta-VAE/checkpoints/*

